
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Alert</title>
</head>
<body>
    <h1>Add Alert</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.alert_file.label }}<br>
            {{ form.alert_file(size=32) }}
        </p>
        <p><input type="submit" value="Add Alert"></p>
    </form>
    <a href="{{ url_for('index') }}">Back to home</a>
</body>
</html>
